body {
  background-color: #f8ceff;
}

/* This is made to target the #root div tag because it would not work using id selector */
body > div {
  margin: auto;
}

h1 {
  color: black;
  text-align: center;
}

form {
  width: 25em;
  margin-bottom: 1.5em;
}

label {
  font-size: 1.6rem;
  color: black;
}

input {
  background-color: white;
  width: 100%;
  height: 2.4em;
  margin-bottom: 1.5em;
  padding: 0 0.5em;
  font-size: 1.5rem;
  color: black;
}

form > button {
  background-color: #bf50e5;
  font-size: 1.6em;
  width: 100%;
  border-radius: 0.7em;
}

p {
    color: black;
    font-size: 1.2em;
    text-align: center;
    text-decoration: underline;
}
