header {
	margin: 0em 1.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header > span {
	border-bottom: 0.2em solid black;
	font-weight: bold;
}

header > span:hover {
	cursor: pointer;
	border-bottom: 0.2em solid #bf50e5;
	color: #bf50e5;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
	position: fixed;
	bottom: 20px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	font-weight: 500;
	text-align: center;
	border-top: #848484 0.3em solid;
	padding-top: 1.5em;
	background-color: white;
}

/* Style the links inside the navigation bar */
.navbar a {
	display: block;
	text-decoration: none;
	font-size: 1.5rem;
	color: #bf50e5;
}

.navbar svg {
	margin: 0 auto;
	width: 100%;
	font-size: 3rem;
	color: #bf50e5;
}

/* Add a color to the active/current link */
.navbar div.active {
	background-color: #04aa6d;
	color: white;
}
