.canvas {
	border: grey 1px solid;
}
.eraser-btn {
	/* overwrite default button styles */
	background: none;
	border: black 1px solid;
	border-radius: 0.5em;
	padding: 0.1rem 0.5rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.eraser-btn-active {
	background: #bf50e5;
	color: white;
	border: black 1px solid;
	border-radius: 0.5em;
	padding: 0.1rem 0.5rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.canvas-parent {
	display: flex;
	justify-content: center;
}

.left-side-bar {
	position: absolute;
	left: 0;
	top: 20%;
	border: 1px solid black;
	z-index: 1;
	background-color: white;
}

.tool {
	margin: 1rem 0.5rem;
}

.color-select,
.size-select {
	font-size: 15px;
}
